{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Task{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" required>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option value="critical">Critical</option>
            <option value="normal" selected>Normal</option>
            <option value="least priority">Least priority</option>
        </select>
        <input type="submit" value="Save">
    </form>
{% endblock %}
