{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Task{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ task['title'] }}" required>
        <label for="description">Description</label>
        <textarea name="description" id="description">{{ task['description'] }}</textarea>
        <label for="completed">Completed</label>
        <input type="checkbox" name="completed" id="completed" {{ 'checked' if task['completed'] }}>
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option value="critical" {% if task['priority']=='critical' %}selected{% endif %}>Critical</option>
            <option value="normal" {% if task['priority']=='normal' %}selected{% endif %}>Normal</option>
            <option value="least priority" {% if task['priority']=='least priority' %}selected{% endif %}>Least priority</option>
        </select>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('todo.delete', id=task['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
